.Drugs{
  border: 1px solid #bae3fa;
  color: #bae3fa;
  border-radius: .05rem;
  font-size: .16rem;
  padding: 0 .05rem;
  height: .24rem;
  line-height: .28rem;
  display: inline-block;
  margin-right: .14rem;
}
