#app{
	max-width:6.4rem;
	margin:0 auto;
	position:relative;
	width:100%;
	font-size:.12rem;
	background: #efefef;
}
/*清除浮动*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
@font-face {
	font-family: 'iconfont';
	src: url('../assets/iconfont/iconfont.eot'); /* IE9*/
	src: url('../assets/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../assets/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../assets/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
	font-family:"iconfont" !important;
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;}