body{
	width:100%;
	background:#efefef url('../image/bg-load.png') no-repeat;
	background-size: 20%;
	background-position: center;

}

#app{
	width:6.4rem;
	margin:0 auto;
	position:relative;	
	font-size:.12rem;	
	background: transparent;
	min-height: 100%;
}

/*清除浮动*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
@font-face {
	font-family: 'iconfont';
	src: url('../assets/iconfont/iconfont.eot'); /* IE9*/
	src: url('../assets/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../assets/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../assets/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
	font-family:"iconfont" !important;
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;}
