.Drugs{
  border:1px solid #bae3fa;
  color: #bae3fa;
  border-radius: .05rem;
  font-size: .16rem;
  padding: 0 .05rem;
  height: .24rem;
  margin-top:.04rem;
  line-height: .24rem;
  display: inline-block;
  margin-right:.14rem;
}